.container {
  width: 80%;
  border: 1 px solid lightblue;
  z-index: 3;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} 



.App {
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

body {
  width: 100%;
}